<ul n:block="menu">
	{foreach $pages as $item}
		<li n:class="$item->id === $item->id ? active" id="{$item->id}">
			<a href="{url $item->getUrl()}">{$item->menu ? $item->menu : $item->title}</a>
			{if $item->children}{include menu, pages => $item->children}{/if}
		</li>
	{/foreach}
</ul>